@using Microsoft.AspNetCore.Identity
@using Jeux_Olympiques.Areas.Identity.Data;
@inject SignInManager<Jeux_OlympiquesUser> SignInManager
@inject UserManager<Jeux_OlympiquesUser> UserManager
@model IEnumerable<Jeux_Olympiques.Models.Event>
@model Jeux_Olympiques.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Créer un évènement sportif</h1>

<h4>Renseigner les informations sur l'évènement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entitled" class="control-label"></label>
                <input asp-for="Entitled" class="form-control" />
                <span asp-validation-for="Entitled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presentation" class="control-label"></label>
                <input asp-for="Presentation" class="form-control" />
                <span asp-validation-for="Presentation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Créer l'évènement" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entitled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presentation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Entitled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presentation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Site)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Billet</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-action="Index">Retour au menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
