@using Microsoft.AspNetCore.Identity
@using Jeux_Olympiques.Areas.Identity.Data;
@inject SignInManager<Jeux_OlympiquesUser> SignInManager
@inject UserManager<Jeux_OlympiquesUser> UserManager
@model Jeux_Olympiques.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Entitled)</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entitled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entitled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presentation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presentation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index" class="btn btn-primary">Retour au menu</a>
</div>
