@using Microsoft.AspNetCore.Identity
@using Jeux_Olympiques.Areas.Identity.Data;
@inject SignInManager<Jeux_OlympiquesUser> SignInManager
@inject UserManager<Jeux_OlympiquesUser> UserManager
@model Jeux_Olympiques.Models.Event

@{
    ViewData["Title"] = "Details";
}

<div class="p-4 p-md-5 rounded text-body-emphasis bg-body-secondary" style="background-image: url('/images/billeterie_entete.png'); background-size: cover; background-position: center;">
    <div>
        <h1 class="fw-bold text-center" style="border: 2px solid rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);"> @Model.Entitled</h1>
    </div>
</div>

<div class="row mb-4 text-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body" style="background-color: floralwhite">
                <p class="card-text fw-bolder">@Model.Presentation</p>
            </div>
        <div class="card-footer text-white" style="background-color: orangered; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);">
                <!-- Utiliser un format de date seulement si Date est non null -->
                <p class="mb-1"><strong>Date :</strong> @(Model.Date.HasValue ? Model.Date.Value.ToString("dd MMM yyyy, HH:mm") : "Non spécifié")</p>
                <p class="mb-0"><strong>Lieu :</strong> @Model.Site</p>
            </div>
        </div>
    </div>
</div>

<section>
    @if (Model.Offers != null && Model.Offers.Any())
    {
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            @foreach (var item in Model.Offers)
            {
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">@Html.DisplayFor(modelItem => item.Price) €</h4>
                            <h4>@Html.DisplayFor(modelItem => item.Description)</h4>
                            <h4>@Html.DisplayFor(modelItem => item.Place)</h4>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Acheter</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Aucune offre disponible pour cet événement.</p>
    }
</section>



<div>
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index" class="btn btn-primary">Retour au menu</a>
</div>
