@using Microsoft.AspNetCore.Identity
@using Jeux_Olympiques.Areas.Identity.Data;
@inject SignInManager<Jeux_OlympiquesUser> SignInManager
@inject UserManager<Jeux_OlympiquesUser> UserManager
@model IEnumerable<Jeux_Olympiques.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background-image: url('images/entete_billeterie2.png'); background-size: cover; background-position: center;">
    <div>
        <h1 class="fw-bold">Billeterie des Jeux Olympiques 2024</h1>
        <p class="fs-3 text text-white fw-bold">Bienvenue sur la billetterie officielle des Jeux Olympiques 2024 ! Connectez-vous pour accéder aux informations de vos commandes</p>
        @if (!SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-danger rounded-pill px-3 fw-bold" asp-area="Identity" asp-page="/Account/Login">Je me connecte</a>
        }
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle me-2"></i>Créer un évènement
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Entitled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Presentation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Site)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Entitled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presentation)
                </td>
                <td>
                    @(item.Date.HasValue ? item.Date.Value.ToString("dd MMM yyyy, HH:mm") : "Date non spécifiée")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Site)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Billet</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}

<!-- Filtre de recherche -->
<div class="text-center">
<button id="toggleSearch" class="btn olympic-btn fw-bold text-uppercase py-2 px-4 rounded-pill shadow-sm">Vous recherchez un évènement particulier ?</button>
</div>

<div id="searchForm" style="display: none;">
    <div class="card my-4">
        <div class="card-body">
            <form asp-action="Index" method="get">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="entitled" class="form-label">Sport</label>
                        <select id="entitled" name="entitled" asp-items="Html.GetEnumSelectList<Sport>()" class="form-select">
                            <option value="">Tous les sports</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="site" class="form-label">Lieu</label>
                        <select id="site" name="site" asp-items="Html.GetEnumSelectList<Lieu>()" class="form-select">
                            <option value="">Tous les lieux</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input id="date" name="date" type="date" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@foreach (var item in Model) {
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h2 class="display-4 fw-bold lh-1 text-body-emphasis">@Html.DisplayFor(modelItem => item.Entitled)</h2>
                <p class="lead fw-bolder fs-3">@Html.DisplayFor(modelItem => item.Presentation)</p>
                <p class="lead fw-bold">@(item.Date.HasValue ? item.Date.Value.ToString("dd MMM yyyy, HH:mm") : "Date non spécifiée")</p>
                <p class="lead">@Html.DisplayFor(modelItem => item.Site)</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden text-center pb-3">
                <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" asp-action="Details" asp-route-id="@item.Id">Réserver</a>
        </div>
    </div>
</div>
}
