@model IEnumerable<Jeux_Olympiques.Models.Ticket>

@{
    ViewData["Title"] = "Statistiques de Ventes de Tickets";
}

    <h2>Tableaux récapitulatif des ventes</h2>
    <div class="row mt-4">
        <div class="col-sm-6 mb-3">
            <div class="card text-center bg-light shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Total des ventes</h5>
                    <p class="display-4">@ViewBag.TotalVentes</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card text-center bg-primary text-white shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Montant total des ventes</h5>
                    <p class="display-4">@ViewBag.MontantTotal €</p>
                </div>
            </div>
        </div>
    </div>

    <h2>Détails des ventes</h2>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">Offre</th>
                    <th scope="col" class="text-center">Date d'achat</th>
                    <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Price)</th>
                    <th scope="col" class="text-center w-25 d-none d-md-table-cell">@Html.DisplayNameFor(model => model.TicketKey)</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center w-25 d-none d-sm-table-cell">Clé de l'acheteur</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <ul class="list-unstyled mb-0">
                                @foreach (var detail in item.TicketDetails)
                                {
                                    <li>
                                        <strong>@detail.Offer.Title</strong>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="text-center">
                            <span>@item.TicketDate.ToString("dd MMM yyyy")</span>
                        </td>
                        <td class="text-center">
                            <span>@item.Price €</span>
                        </td>
                        <td class="text-center d-none d-md-table-cell">
                            <code>@item.TicketKey</code>
                        </td>
                        <td class="text-center">
                            @item.Buyer.Email
                        </td>
                        <td class="text-center d-none d-sm-table-cell">
                            <span class="text-info">@item.Buyer.AccountKey</span>
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Voir", "Ticket", "Checkout", new { ticketId = item.TicketId }, new { @class = "btn btn-info btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>