@model IEnumerable<Jeux_Olympiques.Models.Ticket>

@{
    ViewData["Title"] = "Statistiques de Ventes de Tickets";
}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Statistiques de Ventes de Tickets</h1>

    <h2> Tableaux récapitulatif des ventes </h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Total des ventes</h5>
                    <p class="card-text display-4">
                        @ViewBag.TotalVentes
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-primary text-white">

                <div class="card-body text-center">
                    <h5 class="card-title">Montant total des ventes</h5>
                    <p class="card-text display-4">
                        @ViewBag.MontantTotal €
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2> Détails des ventes </h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Offre</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Price)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.TicketKey)</th>
                    <th class="text-center">Email de l'acheteur</th>
                    <th class="text-center">Clé de l'acheteur</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var detail in item.TicketDetails)
                                {
                                    <li class="text-muted">
                                        <strong>@Html.DisplayFor(modelItem => detail.Offer.Title)</strong>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="text-center">
                            <span class="">@Html.DisplayFor(modelItem => item.Price) €</span>
                        </td>
                        <td class="text-center">
                            <code>@Html.DisplayFor(modelItem => item.TicketKey)</code>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Buyer.Email)
                        </td>
                        <td class="text-center">
                            <span class="text-info">@Html.DisplayFor(modelItem => item.Buyer.AccountKey)</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
