@using Microsoft.AspNetCore.Identity
@using Jeux_Olympiques.Areas.Identity.Data;
@inject SignInManager<Jeux_OlympiquesUser> SignInManager
@inject UserManager<Jeux_OlympiquesUser> UserManager
@model IEnumerable<Jeux_Olympiques.Models.Offer>

@{
    ViewData["Title"] = "Index";
}

<h1>Retrouvez la liste des offres créées</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
                {
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                }
                 <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Détail du billet</a> 
            </td>
        </tr>
}
    </tbody>
</table>


@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle me-2"></i>Créer une offre
        </a>
    </p>
}




