@using Microsoft.AspNetCore.Identity
@using Jeux_Olympiques.Areas.Identity.Data;
@inject SignInManager<Jeux_OlympiquesUser> SignInManager
@inject UserManager<Jeux_OlympiquesUser> UserManager
@model IEnumerable<Jeux_Olympiques.Models.Offer>

@{
    ViewData["Title"] = "Index";
}

<h1>Retrouvez la liste des offres créées</h1>

<table class="table table-striped table-responsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                Détails de l'événement
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) €
                </td>
                <td>
                    <div class="event-details">
                        <strong>@Html.DisplayFor(modelItem => item.Events.Entitled)</strong><br />
                        <em>@Html.DisplayFor(modelItem => item.Events.Presentation)</em><br />
                        <span>@(item.Events.Date.HasValue ? item.Events.Date.Value.ToString("dd/MM/yyyy") : "Date non mentionnée")</span><br />
                        <span>à @Html.DisplayFor(modelItem => item.Events.Site)</span>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
                        {
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.OfferId">Modifier</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.OfferId">Supprimer</a>
                        }
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.OfferId">Détail du billet</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle me-2"></i>Créer une offre
        </a>
    </p>
}




